/* Universal Styling */
body{
    margin: 0;
    background-color: bisque;
    height: 100%;
}

main{
    display: grid;
    margin: 0;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 16% 30% 16% 10% 16% 12%; 
    height: 100vh;
}



nav{
    position: relative;
    color: white;
    height: 30px;
    width: 100%;
    background-color: black;
    grid-column: 1/4;
    grid-row: 4/5;
    align-items: center;
    padding-top: 10px;
}

nav a{
    color: white;
    margin-right: 4em;
}

footer{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 7em;
    width: 100%;
    bottom: 0px;
    grid-template-rows: 50% 25% 25%;
}


a{
    text-decoration: none;
    color: black;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 32px;
}

p{
    font-size: 22px;
}

.footer-link{
    grid-row: 2/3;
}

.button {
    padding: 7px 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 1em;
    width: fit-content;
  }
  
  .button:hover {background-color: grey}
  
  .button:active {
    background-color: whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

h1, h2, h3,h4, h5, p, nav{
    text-align: center;
}

#email{
    font-size: 18px;
    color: white;
    margin-left: 12em;
}

.intro{
    grid-row: 1/4;
    grid-column: 2/3;
    font-size: 60px;
}

#intro-text{
    grid-row: 5/6;
    grid-column: 2/3;
}



/* Homepage styles */

#home-image-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 300px;
    width: fit-content;
    border-radius: 15px;
    border-color: black;
    grid-row: 2/4;
    grid-column: 2/3;
    border: black solid 5px;
    z-index: 0;

}

#homepagePic{
    z-index: 1;
    height: 300px;
    border-radius: 10px;
    /* width: 100px; */
}

#home-name{
    grid-row: 3/4;
    grid-column: 2/3;
    margin-top: 1.5em;
    font-size: 48px;
}

#home-body{
    grid-row: 5;
    grid-column: 1/4;
    margin-top: 4em;
}

#welcome{
    font-size: 48px;
}

/* About Me styles */

#about-nav{
    grid-row: 2;
}

#interest-content{
    margin-top: 5em;
    margin-left: 1em;
    grid-row: 2/6;
    grid-column: 1/2;
    border: black solid 5px;
    border-radius: 20px;
    height: fit-content;
}

#hobby-content{
    margin-top: 4.5em;
    margin-right: 1em;
    grid-row: 2/6;
    grid-column: 3/3;
    border: black solid 5px;
    border-radius: 20px;
    height: fit-content;
}

#about-image-container{
    grid-column: 2/3;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    height: fit-content;
    margin-top: 1em;
    margin-bottom: 1em;
}

#about-image-1{
    grid-row: 1/2;
    height: 450px;
    width: 450px;
    margin-top: 2.5em;
}

#about-image-2{
    grid-row: 2/3;
    height: 450px;
    width: 450px;
    margin-top: 1em;
}

#about-image-3{
    grid-row: 3/4;
    height: 450px;
    width: 450px;
}

#about-footer{
    bottom: -52em;
}

/* Journey page styles */

#journey-main{
    display: grid;
    margin: 0;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 5% 80%; 
    height: 100vh;
}

#journey-intro{
    grid-row: 1/2;
    font-size: 44px;
    margin-right: 4em;
}

#journey-nav{
    grid-row: 2/3;
    height: 30px;
    padding-top: 10px;
}

#journey-dropdown-1{
    grid-row: 3/4;
}


#hashlink-1 {
    display: none;
}
  
#hashlink-1:target {
    display: block;
}

#hashlink-2 {
    display: none;
}
  
#hashlink-2:target {
    display: block;
}

#hashlink-3 {
    display: none;
}
  
#hashlink-3:target {
    display: block;
}

#test{
    grid-column: 1/4;
    grid-row: 2;
    z-index: 2;
}

#test2{
    grid-row: 3;
    margin-top: 2em;
}

#test3{
    grid-row: 3;
    margin-top: 5em;
}

#journey-timeline{
    height: 575px;
    grid-column: 1;
    grid-row: 2;
    margin-top: 3em;
}

.journey-pics{
    height: 100%;
    width: 100%;
    grid-row: 1/2;
}

#journey-content{
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns:33% 34% 33% ;
}



.closer{
    display: block;
    padding: 7px 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 1em;
    margin-left: 45%;
    width: fit-content;
}