*{
    
}

body{
    margin: 0;
    background-color: bisque;
    height: 100%;
}

main{
    display: grid;
    margin: 0;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 16% 30% 16% 10% 16% 12%; 
    height: 100vh;
}



nav{
    position: relative;
    color: white;
    height: 30px;
    width: 100%;
    background-color: black;
    grid-column: 1/4;
    grid-row: 4/5;
    /* margin-top: 15em; */
    align-items: center;
    padding-top: 10px;
}

nav a{
    color: white;
    margin-right: 4em;
}

footer{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 7em;
    width: 100%;
    bottom: 0px;
    grid-template-rows: 50% 25% 25%;
}


a{
    text-decoration: none;
    color: black;
}

.footer-link{
    grid-row: 2/3;
}

.button {
    padding: 7px 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    /* color: black; */
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 1em;
    width: fit-content;
  }
  
  .button:hover {background-color: grey}
  
  .button:active {
    background-color: whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

h1, h2, h3, h5, p, nav{
    text-align: center;
}

#email{
    font-size: 18px;
    color: white;
    margin-left: 12em;
}

#home-image-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 300px;
    width: fit-content;
    border-radius: 15px;
    border-color: black;
    grid-row: 2/4;
    grid-column: 2/3;
    border: black solid 5px;
    z-index: 0;

}

#homepagePic{
    z-index: 1;
    height: 300px;
    border-radius: 10px;
    /* width: 100px; */
}

.intro{
    grid-row: 1/4;
    grid-column: 2/3;
}

#home-name{
    grid-row: 3/4;
    grid-column: 2/3;
    margin-top: 2em;
}

#intro-text{
    grid-row: 5/6;
    grid-column: 2/3;
}

#home-body{
    grid-row: 6/6;
    grid-column: 2/3;
}

#about-nav{
    grid-row: 2;
}

#interest-content{
    margin-top: 5em;
    grid-row: 2/6;
    grid-column: 1/2;
}

#hobby-content{
    margin-top: 5em;
    grid-row: 2/6;
    grid-column: 3/3;
}

#about-image-container{
    grid-column: 2/3;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

#about-image-1{
    grid-row: 1/2;
    height: 100px;
    width: 100px;
}

#about-image-2{
    grid-row: 2/3;
    height: 100px;
    width: 100px;
}

#about-image-3{
    grid-row: 3/4;
    height: 100px;
    width: 100px;
}

#journey-main{
    display: grid;
    margin: 0;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 10% 80%; 
    height: 100vh;
}

#journey-intro{
    grid-row: 1/2;
}

#journey-nav{
    grid-row: 2/3;
    height: 30px;
    padding-top: 10px;
}

#journey-dropdown-1{
    grid-row: 3/4;
}

ul{
    position: absolute;
    margin-right: 250px;
}